/*menu*/
.navbar-light .navbar-nav .nav-link:hover {
  border-bottom: 3px solid #db157b !important;
}

/* bordes menu principal colapsado */
.navbar-light .navbar-toggler {
  border-color: rgb(219, 21, 123);
}

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(219,21,123)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

/*background colors*/
.bg-purpura{
  background-color: #db157d;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-naranja{
  background-color: #f9a745;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-cian{
  background-color: #0097a5;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-verde{
  background-color: #059d60;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-violeta{
  background-color: #683cb0;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-azul{
  background-color: #1c2579;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-café{
  background-color: #754c24;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

.bg-rojo{
  background-color: #ea413d;
  width: 100%;
  height: auto;
  padding-bottom: 5px;
  padding-top: 80px;
}

/*border colors*/
.media-purpura{
  border-left: 4px solid #db157d;
  padding-left: 25px;
}

/*text colors*/
.text-purpura{
  color: #db157d;
}

.text-cian{
  color: #0097a5;
}

/*bordes de sección de movilidad*/
.my-border.rounded{
  border-radius: .85rem !important;
}

.my-border.border{
  border: 3px solid #f9a745 !important;
}

footer{
  padding-top: 4em;
  color: #fff;
  background: url(../img/fondo-footer-morado.png) center;
  overflow: hidden;
  height: 656px;
}
