/*botones slider*/
.carousel-indicators>li{
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
}

.bg-1{
  background-color: #82BA2B;
  width: 100%;
  height: 400px;
}

.text-pt{
  padding-top: 4em;
}

.my-pt{
  padding-top: 8em;
}

.img-thumb{
  height: 400px;
  background-color: #808080;
  width: 100%;
}

footer{
  background-color: #82BA2B;
  color: #fff;
}

/*Responsive*/
/*No media query since this is the default in Bootstrap*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

 }

 /*Medium devices (tablets, 768px and down)*/
 @media (max-width: 768px) {
  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}
