/*botones slider*/
.carousel-indicators>li{
  height: 10px !important;
  width: 10px !important;
  border-radius: 100%;
}

/*bordes de sección de movilidad*/
.my-border{
  height: 210px;
}

.my-border:nth-child(3){
  height: 360px;
}

.my-border:nth-child(4){
  height: 360px;
}

.my-border:nth-child(5){
  height: 180px;
}

.my-border.rounded{
  border-radius: .85rem !important;
}

.my-border.border{
  border: 3px solid #82BA2B !important;
}



/*Responsive*/
/*No media query since this is the default in Bootstrap*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575px) {
  .my-border{
    height: 250px;
  }

  .my-border:nth-child(3){
    height: 325px;
  }

  .my-border:nth-child(4){
    height: 430px;
  }

  .my-border:nth-child(5){
    height: 270px;
  }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .my-border:nth-child(3){
    height: 250px;
  }
  .my-border:nth-child(4){
    height: 310px;
  }

 }

 /*Medium devices (tablets, 768px and down)*/
 @media (max-width: 768px) {
   .margin-ajust.mr-5{
     margin-right: 0px !important;
   }

   .margin-ajust.ml-5{
     margin-left: 0px !important;
   }
  }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .my-border{
    height: 200px;
  }

  .my-border:nth-child(3){
    height: 220px;
  }

  .my-border:nth-child(4){
    height: 280px;
  }
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .my-border{
    height: 250px;
  }

  .my-border:nth-child(3){
    height: 470px;
  }

  .my-border:nth-child(4){
    height: 460px;
  }
}

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { ... }
